<!DOCTYPE html>
<html lang="en">
<body style="background-color: rgb(203, 155, 155);">

<h2>Loan Application</h2><br>

<form action="/submit", method="POST">
    <label for="Gender">Gender:</label><br>
    <input type="text" id="gender" name="gender" value="0"><br><br>
    <label for="Married">Married:</label><br>
    <input type="text" id="married" name="married" value="0"><br><br>
    <label for="Applicant_Income">Applicant Income:</label><br>
    <input type="text" id="applicant_income" name="applicant_income" value="0"><br><br>
    <label for="Loan_Amount">Loan Amount:</label><br>
    <input type="text" id="loan_amount" name="loan_amount" value="0"><br><br>
    <label for="Credit_History">Credit History:</label><br>
    <input type="text" id="credit_history" name="credit_history" value="0"><br><br>
    
    <input type="submit" value="Submit">
</form>

<p>If you click the submit button, the form-data will be sent to a page called "/submit".</p>


</body>
</html>